body {
    margin: 0;
    padding: 0;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-top: 10px solid grey;
    display: flex;
    border-bottom: 90px solid grey;

}

.loader span {
    position: relative;
    display: block;
    width: 8px;
    height: 350px;
    background-color: black;
    margin: 0 36px 40px;
    transform-origin: top;
}

.loader span::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: -32px;
    width: 80px;
    height: 80px;
    background-color: brown;
    border-radius: 50%;
}

.loader span::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -32px;
    width: 80px;
    height: 80px;
    background-color: green;
    border-radius: 50%;
}

.loader span:first-child {

    animation: animateFirst 1.2s linear infinite;
}

.loader span:last-child {

    animation: animateLast 1.2s linear 0.1s infinite reverse;
}

@keyframes animateFirst {

    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(60deg);
    }

    50% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes animateLast {

    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-60deg);
    }

    50% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(0deg);
    }
}